In [4]:
from pathlib import Path
import pandas as pd
import gc
from sklearn.preprocessing import LabelEncoder
import pickle
import bz2
import matplotlib.pyplot as plt
import numpy as np

In [5]:
data_path = Path('./data/').resolve()
!ls {data_path}

09_prepared.pkl.bz2  card_lbe.pkl.bz2  products_20200901.txt
10_prepared.pkl.bz2  doc_lbe.pkl.bz2
11_prepared.pkl.bz2  pickle.pkl.bz2

In [3]:
with bz2.open(data_path / '09_prepared.pkl.bz2', 'rb') as f:
    df9 = pickle.load(f)
df9.drop(['id_card', 'id_doc'], axis=1, inplace=True)
df9.head()

,date,id_order,id_tov,id_kontr,quantity,sum,is_green,id_card_int,id_doc_int
0,2020-09-01 17:01:25,0,52,271,1.0,108.00,False,1538855,1283228
1,2020-09-01 17:35:36,0,52,271,1.0,108.00,False,267307,8873113
2,2020-09-01 19:19:21,0,52,271,1.0,107.95,False,610220,12712899
3,2020-09-01 21:53:34,0,52,271,1.0,108.00,False,441497,21535283
4,2020-09-01 18:42:31,0,61,97,2.0,88.00,False,1065358,642341

## This  883386 guy looks like a compete psycho

In [4]:
df9.groupby(['id_card_int'])['sum'].sum().sort_values(ascending=False).head(50)

id_card_int
883386     18259091.85
568930       211154.31
1243870      124131.91
1755035      116411.20
1447941       98215.49
935791        92720.81
497966        91556.46
57748         87851.95
1372          86059.14
129282        85682.71
1524177       84910.85
1062580       81783.34
121856        81464.70
1499243       81153.36
1268011       80136.85
116966        79485.16
478842        79201.86
163661        78958.13
238391        78868.38
761714        78270.96
158714        78035.83
518424        77281.71
229676        77201.53
46998         77134.07
817278        76954.69
196293        76859.50
6581          76207.72
718802        76147.80
421742        75402.22
579158        75389.32
1071249       75079.83
1200538       74925.04
920704        74896.02
600328        74320.14
315084        73922.98
806783        73761.89
96493         73730.62
413727        73707.74
588107        73536.17
784759        72851.78
339042        72649.39
662077        72637.24
30864         72435.36
963824        72149.33
948175        72077.59
1200926       71998.51
317600        71851.05
799152        71848.42
283482        71483.28
712306        71393.35
Name: sum, dtype: float64

In [5]:
df9.groupby(['id_card_int'])['id_doc_int'].count().sort_values(ascending=False).head(50)

id_card_int
883386     189812
568930        753
1243870       707
518424        694
213588        675
1217776       672
479858        660
1025552       645
1137696       640
828583        630
907152        625
440354        623
817278        622
5959          620
1441185       612
497966        609
647601        600
1000294       592
1062580       588
680243        583
937039        574
1120884       563
533540        562
230546        559
1810863       557
1640239       556
279321        552
1402439       551
784759        548
88263         548
297027        546
542043        543
1211493       542
421742        538
411998        538
342656        535
710070        530
96493         526
600695        524
1606080       523
1447941       522
773633        522
315084        521
57748         518
288752        517
198929        517
9676          516
1024720       515
196293        515
1071249       514
Name: id_doc_int, dtype: int64

In [6]:
df9.groupby(['id_card_int', 'id_tov'])['quantity'].count().sort_values(ascending=False).head(50)

id_card_int  id_tov
883386       31712     3276
             30560     2980
             18150     2786
             28799     2717
             20494     2448
             19081     2150
             29624     1886
             23229     1817
             18149     1699
             20851     1643
             36582     1552
             373       1513
             35710     1507
             26199     1260
             20497     1250
             14526     1205
             173       1124
             16125      960
             20610      911
             23988      854
             34117      853
             371        810
             18361      807
             20493      802
             19746      795
             22492      793
             34511      787
             20969      785
             22828      755
             36239      753
             15544      745
             17736      737
             22932      736
             16306      732
             19766      730
             61         724
             25259      715
             673        704
             24006      698
             14842      688
             20171      670
             22658      665
             647        651
             17525      647
             19080      647
             25375      614
             24000      609
             25290      603
             158        586
             22397      582
Name: quantity, dtype: int64

### Total sum, number of receipts and quantity of goods of each type is competely outstanding comparing to other users. Whereas other users seem to descend smoothly.

## The same thing is true for October and November

In [3]:
with bz2.open(data_path / '10_prepared.pkl.bz2', 'rb') as f:
    df10 = pickle.load(f)
# df10.drop(['id_card', 'id_doc'], axis=1, inplace=True)
df10.head()

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green,id_card_int,id_doc_int
0,2020-10-01 20:22:55,16427403-0C04-EB11-B444-005056A7539A,0,9462341,52,339,1.0,107.90,False,1636749,2035558
1,2020-10-01 20:54:12,8E81258D-0F04-EB11-B444-005056A7539A,0,1452208,52,339,1.0,80.04,False,267261,13037327
2,2020-10-01 21:25:59,0FA47FAC-1304-EB11-B444-005056A7539A,0,7183110,61,379,1.0,31.92,True,1331395,1430590
3,2020-10-01 13:31:01,265086E0-D103-EB11-B444-005056A7539A,0,3659782,61,97,1.0,55.98,False,641525,3504660
4,2020-10-01 16:32:06,787F8164-EB03-EB11-B444-005056A7539A,0,7153315,61,97,4.0,176.00,False,1325852,11024438

In [5]:
df10.groupby(['id_card'])['sum'].sum().sort_values(ascending=False).head(50)

id_card
4806534    19738782.89
5511274      122127.86
3258801      117312.05
2381193      106458.86
2719432      102894.66
2175136       96859.11
6093105       96560.94
0842659       96172.50
a549179       94737.13
9654049       94668.41
4040927       90538.90
0602040       90132.81
1955953       90090.16
3373516       89808.07
0224658       89780.53
7908252       88418.58
5128870       86439.90
2840317       86363.36
1974735       86108.72
1871429       84497.67
2036935       83707.05
6493752       83319.40
5197223       83142.94
2719973       82627.52
0031062       82493.62
9745954       81963.07
7428113       81075.86
4443952       80471.37
1068919       79651.51
3075653       79588.15
1728562       79457.98
6032141       79393.84
1495225       79031.32
3318836       78582.36
6463408       78408.98
0661197       77938.49
3442916       77748.94
0134155       77694.03
8656030       77383.93
5809918       77159.23
0869579       76967.86
2484296       76914.52
0630894       76792.89
1826475       76513.80
3174491       76512.00
9021354       76114.15
2981276       76008.60
3762213       75712.21
5717249       75710.98
4189768       75320.62
Name: sum, dtype: float64

In [6]:
df10.groupby(['id_card_int'])['id_doc_int'].count().sort_values(ascending=False).head(50)

id_card_int
883386     204271
421742        881
533540        772
440354        769
297027        730
647601        724
1025552       713
479858        694
373874        691
937039        689
213588        685
817278        678
568930        677
1120884       673
1241753       669
497966        662
1745075       658
994772        653
718802        653
1860916       643
470592        638
554445        634
1364304       633
1657559       629
28430         626
67656         621
1000294       621
1441185       620
1217776       618
907152        616
799152        614
1810327       608
1705441       607
229449        607
352617        603
1088097       597
538912        597
1194890       596
765732        596
187022        595
1606080       595
1062580       595
1014751       593
425024        592
1589609       590
1089158       589
1566108       588
1142184       586
801863        585
1128041       585
Name: id_doc_int, dtype: int64

In [ ]:
# df10.groupby(['id_card_int', 'id_tov'])['quantity'].count().sort_values(ascending=False).head(50)

In [ ]:
with bz2.open(data_path / '11_prepared.pkl.bz2', 'rb') as f:
    df11 = pickle.load(f)
df11.drop(['id_card', 'id_doc', 'is_green', 'id_kontr', 'date'], axis=1, inplace=True)
df11.head()

In [4]:
df11.groupby(['id_card_int'])['sum'].sum().sort_values(ascending=False).head(50)

id_card_int
883386     22018356.77
1577248     1279932.55
1028081      117739.34
356029       116052.43
588107       112809.07
497966       106472.51
280312       103871.32
969367       101767.00
1208545      101656.92
1841799       97992.87
891635        97796.31
1418968       96973.18
1447941       96940.91
365279        94866.75
72071         94511.47
758641        94406.46
126564        94023.56
718802        92877.58
6581          91932.55
57748         91302.14
328674        90918.48
478842        89154.95
191654        88868.02
781733        88390.35
15646         88308.61
125230        87117.50
1025552       86369.86
701906        86268.04
1106760       85438.09
1046435       85090.40
920704        84746.52
1088092       84396.65
290410        83556.36
837258        83401.55
1263823       83089.34
690128        82918.12
1231782       82838.01
812766        81430.46
494509        81411.01
987084        81346.53
1121002       81191.14
1311690       81008.74
1391836       80872.14
130278        80795.64
1745075       80771.92
1062580       80695.19
600328        80098.87
158587        80051.02
46998         80039.10
163661        79978.72
Name: sum, dtype: float64

In [5]:
df11.groupby(['id_card_int'])['id_doc_int'].count().sort_values(ascending=False).head(50)

id_card_int
883386     228012
1841799       790
1577248       789
497966        737
1025552       732
280312        714
440354        706
837258        698
533540        696
518424        687
1745075       682
817278        648
718802        643
1757825       640
421742        628
937039        617
88263         616
994772        609
213588        605
1120884       599
1566737       591
828583        590
100066        589
784759        588
356029        582
113302        581
897476        580
240127        580
690128        580
1000294       574
1071808       574
479858        573
1364304       571
342656        569
307021        566
1311690       563
1217776       563
1231782       562
647601        562
411998        562
1046435       557
1062580       557
83908         557
1680154       554
1402439       553
725901        550
323473        550
939942        549
907152        547
470592        546
Name: id_doc_int, dtype: int64

In [ ]:
# df11.groupby(['id_card_int', 'id_tov'])['quantity'].count().sort_values(ascending=False).head(50)

In [ ]:
zeros = df11.groupby('id_card_int')['sum'].sum()
print(zeros.where(zeros==0))

### For other users it is getting hard to distinquish outliers since they all go pretty smooth in all of their values. Probably it is possible to go with inadequate sum value or quantity values. Leave till the next time

In [7]:
answer = pd.DataFrame(data=['883386'])
with bz2.open(data_path / 'pickle.pkl.bz2', 'wb') as f:
    pickle.dump(answer, f, protocol=4)

## And here is boom new idea.. What if this 883386 is just aggregation of all users who do not have ID in this shop? That will explain such a strong outlier