## Libraries import

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import bz2
import gc
import pickle
from pathlib import Path

## Dataset reading

In [5]:
with bz2.open('HW 1 Data/09_prepared.pkl.bz2', 'rb') as sep:
    d_sep = pickle.load(sep)
with bz2.open('HW 1 Data/10_prepared.pkl.bz2', 'rb') as octo:
    d_octo = pickle.load(octo)
with bz2.open('HW 1 Data/11_prepared.pkl.bz2', 'rb') as nov:
    d_nov = pickle.load(nov)

df = pd.concat([d_sep, d_octo, d_nov])

## Dataset visualization

In [6]:
d_sep.head()

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green,id_card_int,id_doc_int
0,2020-09-01 17:01:25,0E05D308-5CEC-EA11-B444-005056A7539A,0,8594499,52,271,1.0,108.00,False,1538855,1283228
1,2020-09-01 17:35:36,610205A1-61EC-EA11-B444-005056A7539A,0,1452388,52,271,1.0,108.00,False,267307,8873113
2,2020-09-01 19:19:21,8AF19602-70EC-EA11-B444-005056A7539A,0,3493538,52,271,1.0,107.95,False,610220,12712899
3,2020-09-01 21:53:34,EB6C71A3-84EC-EA11-B444-005056A7539A,0,2491281,52,271,1.0,108.00,False,441497,21535283
4,2020-09-01 18:42:31,0706023F-6BEC-EA11-B444-005056A7539A,0,5732396,61,97,2.0,88.00,False,1065358,642341

In [7]:
d_sep.describe()

,id_order,id_tov,id_kontr,quantity,sum,id_card_int,id_doc_int
count,4.210086e+07,4.210086e+07,4.210086e+07,4.210086e+07,4.210086e+07,4.210086e+07,4.210086e+07
mean,7.765869e+05,1.763064e+04,1.045977e+04,1.427065e+00,1.149112e+02,8.446032e+05,1.170384e+07
std,2.032896e+06,1.103226e+04,8.794764e+03,3.101411e+01,1.072201e+02,5.388947e+05,6.760102e+06
min,0.000000e+00,4.600000e+01,-9.999000e+03,-2.755000e+00,-1.022110e+03,0.000000e+00,2.000000e+00
25%,0.000000e+00,1.452600e+04,3.850000e+02,1.000000e+00,4.800000e+01,3.650470e+05,5.848724e+06
50%,0.000000e+00,1.943500e+04,1.358100e+04,1.000000e+00,8.900000e+01,8.150010e+05,1.170182e+07
75%,0.000000e+00,2.455800e+04,1.630400e+04,1.000000e+00,1.501100e+02,1.288708e+06,1.755596e+07
max,6.673056e+06,3.866000e+04,2.194300e+04,5.000000e+03,3.840000e+04,1.944074e+06,2.341787e+07

In [8]:
d_octo.head()

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green,id_card_int,id_doc_int
0,2020-10-01 20:22:55,16427403-0C04-EB11-B444-005056A7539A,0,9462341,52,339,1.0,107.90,False,1636749,2035558
1,2020-10-01 20:54:12,8E81258D-0F04-EB11-B444-005056A7539A,0,1452208,52,339,1.0,80.04,False,267261,13037327
2,2020-10-01 21:25:59,0FA47FAC-1304-EB11-B444-005056A7539A,0,7183110,61,379,1.0,31.92,True,1331395,1430590
3,2020-10-01 13:31:01,265086E0-D103-EB11-B444-005056A7539A,0,3659782,61,97,1.0,55.98,False,641525,3504660
4,2020-10-01 16:32:06,787F8164-EB03-EB11-B444-005056A7539A,0,7153315,61,97,4.0,176.00,False,1325852,11024438

In [9]:
d_octo.describe()

,id_order,id_tov,id_kontr,quantity,sum,id_card_int,id_doc_int
count,4.612316e+07,4.612316e+07,4.612316e+07,4.612316e+07,4.612316e+07,4.612316e+07,4.612316e+07
mean,1.313093e+06,1.780849e+04,1.038279e+04,1.394533e+00,1.149974e+02,8.502335e+05,1.171058e+07
std,2.847286e+06,1.123255e+04,9.189472e+03,2.953242e+01,1.104653e+02,5.429158e+05,6.760764e+06
min,0.000000e+00,4.600000e+01,-9.999000e+03,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,0.000000e+00,1.452600e+04,3.760000e+02,1.000000e+00,4.920000e+01,3.674040e+05,5.855668e+06
50%,0.000000e+00,1.962800e+04,1.361400e+04,1.000000e+00,8.900000e+01,8.188340e+05,1.171292e+07
75%,0.000000e+00,2.474700e+04,1.637600e+04,1.000000e+00,1.484100e+02,1.296140e+06,1.756632e+07
max,8.280457e+06,3.922700e+04,2.227200e+04,5.000000e+03,1.468320e+04,1.944074e+06,2.341786e+07

In [10]:
d_octo.head()

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green,id_card_int,id_doc_int
0,2020-10-01 20:22:55,16427403-0C04-EB11-B444-005056A7539A,0,9462341,52,339,1.0,107.90,False,1636749,2035558
1,2020-10-01 20:54:12,8E81258D-0F04-EB11-B444-005056A7539A,0,1452208,52,339,1.0,80.04,False,267261,13037327
2,2020-10-01 21:25:59,0FA47FAC-1304-EB11-B444-005056A7539A,0,7183110,61,379,1.0,31.92,True,1331395,1430590
3,2020-10-01 13:31:01,265086E0-D103-EB11-B444-005056A7539A,0,3659782,61,97,1.0,55.98,False,641525,3504660
4,2020-10-01 16:32:06,787F8164-EB03-EB11-B444-005056A7539A,0,7153315,61,97,4.0,176.00,False,1325852,11024438

In [12]:
d_nov.describe()

## Dataset processing and removing outliers

In [ ]:
# number of receipts
df_agg = df.groupby("id_card_int")["id_doc_int"].agg("nunique")

In [ ]:
df_agg.nlargest(15)

In [ ]:
pd.DataFrame(df_agg[df_agg < 1000]).boxplot()

In [ ]:
suspects = df_agg[df_agg > 250].index.tolist()

In [ ]:
# number of goods
df_agg = df.groupby("id_card_int")["id_tov"].agg("nunique")

In [ ]:
df_agg.nlargest(10)

In [ ]:
pd.DataFrame(df_agg[df_agg < 1000]).boxplot()

In [ ]:
suspects.extend(df_agg[df_agg > 700].index.tolist())

In [ ]:
# high expences
df_agg = df.groupby("id_card_int")["sum"].agg("sum")

In [ ]:
df_agg.nlargest(10)

In [ ]:
suspects.extend(df_agg[df_agg > 200000].index.tolist())

In [ ]:
suspects = list(set(suspects))
len(suspects)

## Saving results

In [ ]:
res = pd.DataFrame(suspects, columns=['id_card_int'])
with bz2.open("outliers.pkl", 'wb') as f:
    pickle.dump(res, f)