In [3]:
!ls data

products_20200901.txt  products_20201001.txt  products_20201101.txt

In [4]:
!head data/products_20200901.txt

In [8]:
import pandas as pd
from datetime import datetime

In [17]:
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

1. NaNs +
2. Customer outliers
3. *Column* in terms frequency and amount - outliers
4. How many goods of certain groups (of goods)
5. Descriptives (discount, good preferences, preferences of group of good, etc.)

In [15]:
colunms = [s for s in 'date;id_doc;id_order;id_card;id_tov;id_kontr;quantity;sum;is_green'.split(';')]
colunms

['date',
 'id_doc',
 'id_order',
 'id_card',
 'id_tov',
 'id_kontr',
 'quantity',
 'sum',
 'is_green']

In [21]:
df = pd.read_csv(
    filepath_or_buffer='data/products_20200901.txt',
    header=0,
    sep=';',
    names = colunms,
    usecols = colunms,
    parse_dates=['date'],
    date_parser=dateparse
)
df.head()

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green
0,2020-09-01 17:01:25,0E05D308-5CEC-EA11-B444-005056A7539A,0,8594499,52,271.0,"1,000",108,0.0
1,2020-09-01 17:35:36,610205A1-61EC-EA11-B444-005056A7539A,0,1452388,52,271.0,"1,000",108,0.0
2,2020-09-01 19:19:21,8AF19602-70EC-EA11-B444-005056A7539A,0,3493538,52,271.0,"1,000","107,95",0.0
3,2020-09-01 21:53:34,EB6C71A3-84EC-EA11-B444-005056A7539A,0,2491281,52,271.0,"1,000",108,0.0
4,2020-09-01 18:42:31,0706023F-6BEC-EA11-B444-005056A7539A,0,5732396,61,97.0,"2,000",88,0.0

In [23]:
df.dtypes

date        datetime64[ns]
id_doc              object
id_order             int64
id_card             object
id_tov               int64
id_kontr           float64
quantity            object
sum                 object
is_green           float64
dtype: object

In [24]:
df.isnull().values.any()

True

In [29]:
len(df)

12493586

In [26]:
df.loc[:, df.isnull().any()].columns

Index(['id_kontr', 'quantity', 'sum', 'is_green'], dtype='object')

In [31]:
df[df['id_kontr'].isnull()]

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green
73,2020-09-01 18:23:24,DCD681FA-67EC-EA11-B444-005056A7539A,0,1452280,185,NaN,"1,000",129,0.0
126,2020-09-01 18:45:27,1606023F-6BEC-EA11-B444-005056A7539A,0,4475695,372,NaN,"1,000",82,0.0
127,2020-09-01 20:55:22,AB82A13B-7DEC-EA11-B444-005056A7539A,0,5167781,372,NaN,"1,000",82,0.0
128,2020-09-01 20:45:49,AE21D94F-7BEC-EA11-B444-005056A7539A,0,9813162,372,NaN,"1,000",82,0.0
199,2020-09-01 14:53:45,03E52BAA-4AEC-EA11-B444-005056A7539A,0,7632871,647,NaN,"1,000",5,0.0
...,...,...,...,...,...,...,...,...,...
12493494,2020-09-10 15:06:30,9877163B-5EF3-EA11-B444-005056A7539A,0,2579350,14684,NaN,"1,000",98,0.0
12493495,2020-09-10 10:21:14,99B78175-36F3-EA11-B444-005056A7539A,0,3064187,14684,NaN,"4,000",392,0.0
12493496,2020-09-10 09:58:33,DF059F4A-33F3-EA11-B444-005056A7539A,0,2725535,14684,NaN,"1,000",98,0.0
12493497,2020-09-10 19:57:20,FDAF2A49-88F3-EA11-B444-005056A7539A,0,B636698,14684,NaN,"1,000",98,0.0
12493555,2020-09-10 21:38:15,A71D013B-95F3-EA11-B444-005056A7539A,0,4381665,15197,NaN,"1,000",48,0.0

In [32]:
null_id_kontr = -9999

In [33]:
df[df['quantity'].isnull()]

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green
12493585,2020-09-10 21:25:05,0665AB49-93F3-EA11-B444-005056A7539A,0,0322922,15373,13.0,NaN,NaN,NaN

In [34]:
df[df['sum'].isnull()]

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green
12493585,2020-09-10 21:25:05,0665AB49-93F3-EA11-B444-005056A7539A,0,0322922,15373,13.0,NaN,NaN,NaN

In [35]:
df[df['is_green'].isnull()]

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green
12493585,2020-09-10 21:25:05,0665AB49-93F3-EA11-B444-005056A7539A,0,0322922,15373,13.0,NaN,NaN,NaN