In [1]:
from pathlib import Path
import pandas as pd
import gc
from sklearn.preprocessing import LabelEncoder
import pickle
import bz2

In [4]:
data_path = Path('./data/').resolve()
!ls {data_path}

09.csv		     10.csv		products_20200901.txt
09_prepared.pkl.bz2  10_to_lbe.pkl.bz2	products_20201001.txt
09_stats.pkl.bz2     11.csv		products_20201101.txt
09_to_lbe.pkl.bz2    11_to_lbe.pkl.bz2

In [ ]:
!du -sh {data_path / '09.csv'}
!du -sh {data_path / '10.csv'}
!du -sh {data_path / '11.csv'}

In [ ]:
one = data_path / '09.csv'
two = data_path / '10.csv'
three = data_path / '11.csv'

In [ ]:
df = pd.read_csv(three, sep=';',
                 #parse_dates=['date'], 
                 #infer_datetime_format=True,
                 usecols=['id_doc', 'id_card'],
                 dtype={'id_doc':'category', 'id_card':'category'}
                )
df['id_card'] = df['id_card'].str.strip()
df['id_doc'] = df['id_doc'].str.strip()
df.head()

In [ ]:
with bz2.open(data_path / '11_to_lbe.pkl.bz2', 'wb') as f:
    pickle.dump(df, f, protocol=4)

In [2]:
### merge

In [ ]:
from pathlib import Path
import pandas as pd
import gc
from sklearn.preprocessing import LabelEncoder
import pickle
import bz2

In [5]:
with bz2.open(data_path / '09_to_lbe.pkl.bz2', 'rb') as f:
    df_09 = pickle.load(f)
with bz2.open(data_path / '10_to_lbe.pkl.bz2', 'rb') as f:
    df_10 = pickle.load(f)
with bz2.open(data_path / '11_to_lbe.pkl.bz2', 'rb') as f:
    df_11 = pickle.load(f)

In [8]:
print(
    len(df_09),
    len(df_10),
    len(df_11)
)

42100858 46123159 46496622

In [12]:
42100858 + 46123159 + 46496622

134720639

In [10]:
df = pd.concat([df_09, df_10, df_11])

In [11]:
len(df)

134720639

In [15]:
doc = pd.DataFrame(df['id_doc'].unique(), columns=['id_doc'])
doc

                                        id_doc
0         0E05D308-5CEC-EA11-B444-005056A7539A
1         610205A1-61EC-EA11-B444-005056A7539A
2         8AF19602-70EC-EA11-B444-005056A7539A
3         EB6C71A3-84EC-EA11-B444-005056A7539A
4         0706023F-6BEC-EA11-B444-005056A7539A
...                                        ...
23417865  6895DCFF-E132-EB11-B444-005056A7539A
23417866  960A650A-0533-EB11-B444-005056A7539A
23417867  BB4E748A-FB32-EB11-B444-005056A7539A
23417868  6DCE9E06-0B33-EB11-B444-005056A7539A
23417869  06585CFB-FA32-EB11-B444-005056A7539A

[23417870 rows x 1 columns]

In [16]:
lbe_doc = LabelEncoder()
lbe_doc.fit(doc['id_doc'])
doc['id_doc_int'] = lbe_doc.transform(doc['id_doc'])
with bz2.open(data_path / 'doc_lbe.pkl.bz2', 'wb') as f:
    pickle.dump(doc, f, protocol=4)

In [17]:
doc.head()

                                 id_doc  id_doc_int
0  0E05D308-5CEC-EA11-B444-005056A7539A     1283228
1  610205A1-61EC-EA11-B444-005056A7539A     8873113
2  8AF19602-70EC-EA11-B444-005056A7539A    12712899
3  EB6C71A3-84EC-EA11-B444-005056A7539A    21535283
4  0706023F-6BEC-EA11-B444-005056A7539A      642341

In [18]:
card = pd.DataFrame(df['id_card'].unique(), columns=['id_card'])
card

         id_card
0        8594499
1        1452388
2        3493538
3        2491281
4        5732396
...          ...
1944071  1831755
1944072  3263534
1944073  B487883
1944074  7125472
1944075  7728976

[1944076 rows x 1 columns]

In [19]:
lbe_card = LabelEncoder()
lbe_card.fit(df['id_card'])
card['id_card_int'] = lbe_card.transform(card['id_card'])
with bz2.open(data_path / 'card_lbe.pkl.bz2', 'wb') as f:
    pickle.dump(card, f, protocol=4)

In [20]:
card

         id_card  id_card_int
0        8594499      1538855
1        1452388       267307
2        3493538       610220
3        2491281       441497
4        5732396      1065358
...          ...          ...
1944071  1831755       333282
1944072  3263534       569847
1944073  B487883      1825336
1944074  7125472      1319934
1944075  7728976      1423663

[1944076 rows x 2 columns]