### Additional steps

In [1]:
from pathlib import Path
import pandas as pd
import gc
from sklearn.preprocessing import LabelEncoder
import pickle
import bz2
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data_path = Path('./data/').resolve()
!ls {data_path}

09_prepared.pkl.bz2 09_stats.pkl.bz2    10_prepared.pkl.bz2 11_prepared.pkl.bz2

In [3]:
with bz2.open(data_path / '09_prepared.pkl.bz2', 'rb') as f:
    df = pickle.load(f)
df.head()

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green,id_card_int,id_doc_int
0,2020-09-01 17:01:25,0E05D308-5CEC-EA11-B444-005056A7539A,0,8594499,52,271,1.0,108.00,False,1538855,1283228
1,2020-09-01 17:35:36,610205A1-61EC-EA11-B444-005056A7539A,0,1452388,52,271,1.0,108.00,False,267307,8873113
2,2020-09-01 19:19:21,8AF19602-70EC-EA11-B444-005056A7539A,0,3493538,52,271,1.0,107.95,False,610220,12712899
3,2020-09-01 21:53:34,EB6C71A3-84EC-EA11-B444-005056A7539A,0,2491281,52,271,1.0,108.00,False,441497,21535283
4,2020-09-01 18:42:31,0706023F-6BEC-EA11-B444-005056A7539A,0,5732396,61,97,2.0,88.00,False,1065358,642341

In [4]:
df.drop(['id_card', 'id_doc'], axis=1, inplace=True)
df.head()

,date,id_order,id_tov,id_kontr,quantity,sum,is_green,id_card_int,id_doc_int
0,2020-09-01 17:01:25,0,52,271,1.0,108.00,False,1538855,1283228
1,2020-09-01 17:35:36,0,52,271,1.0,108.00,False,267307,8873113
2,2020-09-01 19:19:21,0,52,271,1.0,107.95,False,610220,12712899
3,2020-09-01 21:53:34,0,52,271,1.0,108.00,False,441497,21535283
4,2020-09-01 18:42:31,0,61,97,2.0,88.00,False,1065358,642341

### Группируем по сумме товаров в чеке

In [69]:
sum_of_checks = df[['id_doc_int', 'sum']].groupby(['id_doc_int']).sum()
sum_of_checks.sort_values(['sum'], ascending=False).head(5)

                 sum
id_doc_int
14218897    48005.00
4963467     26956.31
2937461     22825.48
10884556    21437.04
16378256    21358.98

In [71]:
outliers_1 = sum_of_checks[sum_of_checks['sum'] > 15000]

### Statistics

In [5]:
from pathlib import Path
import pandas as pd
import gc
from sklearn.preprocessing import LabelEncoder
import pickle
import bz2

data_path = Path('./data/').resolve()
!ls {data_path}

09_prepared.pkl.bz2 09_stats.pkl.bz2    10_prepared.pkl.bz2 11_prepared.pkl.bz2

In [6]:
with bz2.open(data_path / '10_prepared.pkl.bz2', 'rb') as f2:
    df2 = pickle.load(f2)
df2.head()

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green,id_card_int,id_doc_int
0,2020-10-01 20:22:55,16427403-0C04-EB11-B444-005056A7539A,0,9462341,52,339,1.0,107.90,False,1636749,2035558
1,2020-10-01 20:54:12,8E81258D-0F04-EB11-B444-005056A7539A,0,1452208,52,339,1.0,80.04,False,267261,13037327
2,2020-10-01 21:25:59,0FA47FAC-1304-EB11-B444-005056A7539A,0,7183110,61,379,1.0,31.92,True,1331395,1430590
3,2020-10-01 13:31:01,265086E0-D103-EB11-B444-005056A7539A,0,3659782,61,97,1.0,55.98,False,641525,3504660
4,2020-10-01 16:32:06,787F8164-EB03-EB11-B444-005056A7539A,0,7153315,61,97,4.0,176.00,False,1325852,11024438

In [72]:
sum_of_checks = df2[['id_doc_int', 'sum']].groupby(['id_doc_int']).sum()
sum_of_checks.sort_values(['sum'], ascending=False)
outliers_2 = sum_of_checks[sum_of_checks['sum'] > 15000]

In [7]:
with bz2.open(data_path / '11_prepared.pkl.bz2', 'rb') as f2:
    df3 = pickle.load(f2)
df3.head()

,date,id_doc,id_order,id_card,id_tov,id_kontr,quantity,sum,is_green,id_card_int,id_doc_int
0,2020-11-01 15:29:01,2220AF19-3E1C-EB11-B444-005056A7539A,0,1826606,52,271,1.0,107.98,False,332351,3121751
1,2020-11-01 12:41:10,F102DC7D-261C-EB11-B444-005056A7539A,8293317,C560312,52,-9999,1.0,108.00,False,1875438,22047017
2,2020-11-01 13:17:09,4632D419-2C1C-EB11-B444-005056A7539A,0,3225041,61,379,2.0,112.00,False,563112,6419825
3,2020-11-01 12:31:31,706B9E66-251C-EB11-B444-005056A7539A,0,B700679,61,379,1.0,55.91,False,1841710,10284541
4,2020-11-01 13:06:15,71F3E090-2A1C-EB11-B444-005056A7539A,0,7024046,61,271,2.0,87.80,False,1304277,10424967

In [73]:
sum_of_checks = df3[['id_doc_int', 'sum']].groupby(['id_doc_int']).sum()
sum_of_checks.sort_values(['sum'], ascending=False)
outliers_3 = sum_of_checks[sum_of_checks['sum'] > 15000]

In [74]:
outliers_check = pd.concat([outliers_1, outliers_2, outliers_3])

In [75]:
outliers_check.head()

                 sum
id_doc_int
50019       11559.38
87105       11325.20
101354      12598.62
111497      12661.60
224885      11548.86

In [76]:
outliers_check = pd.merge(df[["id_doc_int","id_card_int"]], outliers_check, on="id_doc_int").drop_duplicates()

### Сумма покупок за месяц

In [77]:
person_buys = df[['id_card_int', "sum"]].groupby(['id_card_int']).sum()

In [78]:
person_buys.sort_values('sum',ascending=False)

                     sum
id_card_int
883386       18259091.85
568930         211154.31
1243870        124131.91
1755035        116411.20
1447941         98215.49
...                  ...
1843017             0.00
405371              0.00
1720481             0.00
18                  0.00
1871302             0.00

[1358089 rows x 1 columns]

In [79]:
outliers_buys = person_buys[person_buys['sum'] > 15000 * 10]

In [80]:
person_buys = df2[['id_card_int', "sum"]].groupby(['id_card_int']).sum()
person_buys.sort_values('sum',ascending=False)
outliers_buys = pd.concat([outliers_buys, person_buys[person_buys['sum'] > 15000 * 10]])

In [81]:
person_buys = df3[['id_card_int', "sum"]].groupby(['id_card_int']).sum()
person_buys.sort_values('sum',ascending=False)
outliers_buys = pd.concat([outliers_buys, person_buys[person_buys['sum'] > 15000 * 10]])

In [82]:
outliers_buys

                     sum
id_card_int
568930         211154.31
883386       18259091.85
883386       19738782.89
883386       22018356.77
1577248       1279932.55

In [83]:
outliers_buys.index.values

array([ 568930,  883386,  883386,  883386, 1577248])

In [84]:
outliers = set.union(*list(map(set, [outliers_buys.index.values, outliers_check["id_card_int"].values])))

In [85]:
with bz2.open(data_path / 'outliers.pkl.bz2', 'wb') as f:
  pickle.dump(pd.DataFrame(outliers, columns=['id_card_int']), f, protocol=4)