In [1]:
from pathlib import Path
import pandas as pd
import gc
from sklearn.preprocessing import LabelEncoder
import pickle
import bz2

na_int_val = -9999

data_path = Path('./data/').resolve()
lbe_path = data_path / 'lbe'
!ls {lbe_path}

09_to_lbe.pkl.bz2  11_to_lbe.pkl.bz2  doc_lbe.pkl.bz2
10_to_lbe.pkl.bz2  card_lbe.pkl.bz2

In [2]:
!du -sh {data_path / '09.csv'}
!du -sh {data_path / '10.csv'}
!du -sh {data_path / '11.csv'}

!du -sh {lbe_path / 'doc_lbe.pkl.bz2'}
!du -sh {lbe_path / 'card_lbe.pkl.bz2'}

3,8G	/data/Projects/inno_stats/data/09.csv
4,1G	/data/Projects/inno_stats/data/10.csv
4,2G	/data/Projects/inno_stats/data/11.csv
172M	/data/Projects/inno_stats/data/lbe/doc_lbe.pkl.bz2
12M	/data/Projects/inno_stats/data/lbe/card_lbe.pkl.bz2

In [3]:
with bz2.open(lbe_path / 'doc_lbe.pkl.bz2', 'rb') as f:
    doc_lbe = pickle.load(f)
with bz2.open(lbe_path / 'card_lbe.pkl.bz2', 'rb') as f:
    card_lbe = pickle.load(f)

In [4]:
card_lbe.head()

   id_card  id_card_int
0  8594499      1538855
1  1452388       267307
2  3493538       610220
3  2491281       441497
4  5732396      1065358

In [5]:
card_lbe.set_index('id_card', inplace=True)
card_lbe.head()

         id_card_int
id_card
8594499      1538855
1452388       267307
3493538       610220
2491281       441497
5732396      1065358

In [6]:
doc_lbe.head()

                                 id_doc  id_doc_int
0  0E05D308-5CEC-EA11-B444-005056A7539A     1283228
1  610205A1-61EC-EA11-B444-005056A7539A     8873113
2  8AF19602-70EC-EA11-B444-005056A7539A    12712899
3  EB6C71A3-84EC-EA11-B444-005056A7539A    21535283
4  0706023F-6BEC-EA11-B444-005056A7539A      642341

In [7]:
doc_lbe.set_index('id_doc', inplace=True)
doc_lbe.head()

                                      id_doc_int
id_doc
0E05D308-5CEC-EA11-B444-005056A7539A     1283228
610205A1-61EC-EA11-B444-005056A7539A     8873113
8AF19602-70EC-EA11-B444-005056A7539A    12712899
EB6C71A3-84EC-EA11-B444-005056A7539A    21535283
0706023F-6BEC-EA11-B444-005056A7539A      642341

In [8]:
doc_lbe.loc['0E05D308-5CEC-EA11-B444-005056A7539A']['id_doc_int']

1283228

In [9]:
one = '09'
two = '10'
three = '11'
file_path_in = data_path/(two + '.csv')
file_path_out = data_path / (two + '_prepared.pkl.bz2')

In [10]:
df = pd.read_csv(file_path_in, sep=';',
                 parse_dates=['date'], 
                 infer_datetime_format=True, 
                 dtype={'id_doc':'category', 'id_card':'category'}
                )

df['quantity'] = df['quantity'].str.replace(',', '.').astype(float)
df['sum'] = df['sum'].str.replace(',', '.').astype(float)
df['is_green'] = df['is_green'].astype('bool')
df['id_kontr'] = df['id_kontr'].fillna(na_int_val).astype(int)
df['id_card'] = df['id_card'].apply(lambda x: card_lbe.loc[x.strip()]['id_card_int']) 
df['id_doc'] = df['id_doc'].apply(lambda x: doc_lbe.loc[x.strip()]['id_doc_int'])
df.head()

NameError: name 'file_path' is not defined

In [ ]:
with bz2.open(file_path_out, 'wb') as f:
    pickle.dump(df, f, protocol=4)

In [ ]:
del df
gc.collect()